body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #c55bd4, #f36c3d);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
}

.container {
    max-width: 100%;
}

#chat-container {
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 800px;
    max-height: 70vh;
    overflow-y: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

#chat-container p {
    text-align: center;
    font-size: 1em;
    margin: 0;
}

h1 {
    color: #fff;
    font-size: 4em;
    margin-top: 20px;
}

#user-input {
    width: 80%;
    padding: 20px;
    color: black;
    font-size: 1em;
    border-radius: 20px;
}

.system-message {
    color: #8B4513;
    font-size: 1em;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    body {
        font-size: 1.5em; /* Adjust the font size for smaller screens */
    }
    #chat-container {
        width: 100%; /* Make the chat container full width on smaller screens */
    }
    #user-input {
        width: 100%; /* Make the user input field full width on smaller screens */
    }
}
